.nav-item {
    margin-left: 50px;
}

.nav-link{
    margin-left: 0px;
 
}

.nav-link:hover{
    background-color: green;
    border-radius: 10px;
}

/* .navbar-nav {
    margin-left: 20px;
    padding-left: 700px;
} */

.navbar-brand {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}


.img {
    border-bottom: 3px;
    border-color: blue solid;
}


.img-1 {
 
}


.card-1 {
    margin-top: 50px;
    margin-left: 80px;
    float: left;
    /* padding-left:10px; */
}

.button {
    margin-left: 50px;
}